In [1]:
import sqlite3

In [14]:
con = sqlite3.connect("sample.db")

In [15]:
print(con)

<sqlite3.Connection object at 0x4048aff4e0>

In [16]:
cursor = con.cursor()

In [17]:
print(cursor)

<sqlite3.Cursor object at 0x404a4bd1f0>

In [22]:
create_user_table_query = """
CREATE TABLE IF NOT EXISTS User (
    UserId INTEGER PRIMARY KEY NOT NULL,
    Name TEXT DEFAULT 'anonymous',
    Email TEXT NOT NULL,
    Age INTEGER CHECK(Age>0)
)
"""
cursor.execute(create_user_table_query)

In [23]:
insert_user_query = """
    INSERT INTO User VALUES(1, 'John', 'john@gmail.com', 30);
    INSERT INTO User VALUES(2, 'Emily', 'emily@gmail.com', 20);
    INSERT INTO User VALUES(3, 'Emma', 'emma@gmail.com', 40);
"""
cursor.executescript(insert_user_query)

In [11]:
con.commit()